.home-component{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
    div.contents-head{
        padding: 50px;
        flex: 1;
        background-color: #fafafa;
        h1{
            font-size: 24px;
        }
    }
    div.content-body{
        flex: 2;
        padding: 50px;

    }
}