nav{
    background-color: #fff;
    &>div{
         border-radius: 0px 20px 20px 0px;
        height: 100%;
        padding: 20px; 
        background-color: #32546d;
        box-sizing: border-box;
    }
    h1{
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 30px;
        svg{
            vertical-align: middle;
        }

        a{
            border-radius: 10px;
            padding: 5px;
        }
    }
    ul{
        padding: 0;
        text-align: center;
        li{
            list-style-type: none;
            cursor: pointer;
            margin: 15px 0;
            a{
                border-radius: 10px;
                padding: 5px;
            }
            &.active{
                background: gray;
            }
            svg{
                vertical-align: middle;
            }
            &:hover{
                color: darkcyan;
            }

            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: darkcyan;
                }
            }
        }
    }
}